@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Nunito:wght@900&family=Space+Mono&display=swap");
@-webkit-keyframes arrowDown {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes arrowDown {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@-webkit-keyframes opacity01 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity01 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes move {
  100% {
    -webkit-transform: translate3d(0, 0, 1px) rotate(360deg);
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

@keyframes move {
  100% {
    -webkit-transform: translate3d(0, 0, 1px) rotate(360deg);
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.Background-Header {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: #161414;
  border-bottom: 1px outset #a1a1a1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.57) 0 2px 10px 0;
  box-shadow: rgba(0, 0, 0, 0.57) 0 2px 10px 0;
  overflow: hidden;
}

.Background-Header span {
  width: 1vmin;
  height: 1vmin;
  border-radius: 1vmin;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  -webkit-animation: move;
  animation: move;
  -webkit-animation-duration: 26;
  animation-duration: 26;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.Background-Header span:nth-child(0) {
  color: #ed5c05;
  top: 35%;
  left: 95%;
  -webkit-animation-duration: 39s;
  animation-duration: 39s;
  -webkit-animation-delay: -74s;
  animation-delay: -74s;
  -webkit-transform-origin: -15vw -18vh;
  transform-origin: -15vw -18vh;
  -webkit-box-shadow: -2vmin 0 0.7551265420091733vmin currentColor;
  box-shadow: -2vmin 0 0.7551265420091733vmin currentColor;
}

.Background-Header span:nth-child(1) {
  color: #f5793d;
  top: 21%;
  left: 7%;
  -webkit-animation-duration: 245s;
  animation-duration: 245s;
  -webkit-animation-delay: -158s;
  animation-delay: -158s;
  -webkit-transform-origin: -1vw -15vh;
  transform-origin: -1vw -15vh;
  -webkit-box-shadow: -2vmin 0 1.0901218194717894vmin currentColor;
  box-shadow: -2vmin 0 1.0901218194717894vmin currentColor;
}

.Background-Header span:nth-child(2) {
  color: #ed5c05;
  top: 67%;
  left: 40%;
  -webkit-animation-duration: 237s;
  animation-duration: 237s;
  -webkit-animation-delay: -92s;
  animation-delay: -92s;
  -webkit-transform-origin: 25vw 17vh;
  transform-origin: 25vw 17vh;
  -webkit-box-shadow: -2vmin 0 0.27136423076168037vmin currentColor;
  box-shadow: -2vmin 0 0.27136423076168037vmin currentColor;
}

.Background-Header span:nth-child(3) {
  color: #f5793d;
  top: 3%;
  left: 5%;
  -webkit-animation-duration: 147s;
  animation-duration: 147s;
  -webkit-animation-delay: -134s;
  animation-delay: -134s;
  -webkit-transform-origin: -19vw 24vh;
  transform-origin: -19vw 24vh;
  -webkit-box-shadow: 2vmin 0 0.7849835617312033vmin currentColor;
  box-shadow: 2vmin 0 0.7849835617312033vmin currentColor;
}

.Background-Header span:nth-child(4) {
  color: #f5793d;
  top: 87%;
  left: 12%;
  -webkit-animation-duration: 32s;
  animation-duration: 32s;
  -webkit-animation-delay: -90s;
  animation-delay: -90s;
  -webkit-transform-origin: -16vw -20vh;
  transform-origin: -16vw -20vh;
  -webkit-box-shadow: -2vmin 0 1.1422778937987266vmin currentColor;
  box-shadow: -2vmin 0 1.1422778937987266vmin currentColor;
}

.Background-Header span:nth-child(5) {
  color: #f5793d;
  top: 77%;
  left: 74%;
  -webkit-animation-duration: 215s;
  animation-duration: 215s;
  -webkit-animation-delay: -7s;
  animation-delay: -7s;
  -webkit-transform-origin: 10vw 10vh;
  transform-origin: 10vw 10vh;
  -webkit-box-shadow: -2vmin 0 1.2429258678339499vmin currentColor;
  box-shadow: -2vmin 0 1.2429258678339499vmin currentColor;
}

.Background-Header span:nth-child(6) {
  color: #f5793d;
  top: 2%;
  left: 15%;
  -webkit-animation-duration: 137s;
  animation-duration: 137s;
  -webkit-animation-delay: -206s;
  animation-delay: -206s;
  -webkit-transform-origin: -24vw -3vh;
  transform-origin: -24vw -3vh;
  -webkit-box-shadow: -2vmin 0 0.7596139830825062vmin currentColor;
  box-shadow: -2vmin 0 0.7596139830825062vmin currentColor;
}

.Background-Header span:nth-child(7) {
  color: #ed5c05;
  top: 62%;
  left: 16%;
  -webkit-animation-duration: 213s;
  animation-duration: 213s;
  -webkit-animation-delay: -176s;
  animation-delay: -176s;
  -webkit-transform-origin: 7vw -4vh;
  transform-origin: 7vw -4vh;
  -webkit-box-shadow: -2vmin 0 1.0036211064871765vmin currentColor;
  box-shadow: -2vmin 0 1.0036211064871765vmin currentColor;
}

.Background-Header span:nth-child(8) {
  color: #f5793d;
  top: 26%;
  left: 74%;
  -webkit-animation-duration: 69s;
  animation-duration: 69s;
  -webkit-animation-delay: -199s;
  animation-delay: -199s;
  -webkit-transform-origin: -15vw 13vh;
  transform-origin: -15vw 13vh;
  -webkit-box-shadow: -2vmin 0 0.7921531771930004vmin currentColor;
  box-shadow: -2vmin 0 0.7921531771930004vmin currentColor;
}

.Background-Header span:nth-child(9) {
  color: #ed5c05;
  top: 82%;
  left: 11%;
  -webkit-animation-duration: 79s;
  animation-duration: 79s;
  -webkit-animation-delay: -170s;
  animation-delay: -170s;
  -webkit-transform-origin: 5vw 9vh;
  transform-origin: 5vw 9vh;
  -webkit-box-shadow: 2vmin 0 0.7254053715428441vmin currentColor;
  box-shadow: 2vmin 0 0.7254053715428441vmin currentColor;
}

.Background-Header span:nth-child(10) {
  color: #f5793d;
  top: 65%;
  left: 87%;
  -webkit-animation-duration: 206s;
  animation-duration: 206s;
  -webkit-animation-delay: -18s;
  animation-delay: -18s;
  -webkit-transform-origin: 5vw -4vh;
  transform-origin: 5vw -4vh;
  -webkit-box-shadow: -2vmin 0 0.953077829326993vmin currentColor;
  box-shadow: -2vmin 0 0.953077829326993vmin currentColor;
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-900px);
    transform: translateY(-900px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-900px);
    transform: translateY(-900px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@-webkit-keyframes slideOut {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-900px);
    transform: translateY(-900px);
  }
}

@keyframes slideOut {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-900px);
    transform: translateY(-900px);
  }
}

.contact-slideDown {
  -webkit-animation: slideDown 0.3s 1 0s ease-out forwards;
  animation: slideDown 0.3s 1 0s ease-out forwards;
}

.contact-slideOut {
  -webkit-animation: slideOut 0.3s 1 0s ease-out forwards;
  animation: slideOut 0.3s 1 0s ease-out forwards;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #dadada;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #444242;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: auto;
  height: 100%;
}

body {
  position: relative;
  height: auto;
  font-size: 1.8rem;
  color: black;
  font-family: "DM Sans", sans-serif;
  margin: 0;
  background-color: #fafafa;
}

body .container {
  position: relative;
  max-width: 1200px;
  margin: auto;
  background-color: #fafafa;
  min-height: 100vh;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-size: 5rem;
}

h5 {
  font-family: "Space Mono", monospace;
  color: #666;
  font-size: 2rem;
  margin: 2rem 0;
}

.line {
  max-width: 900px;
  margin: auto;
  height: 1px;
  background-color: rgba(97, 97, 97, 0.733);
}

.Header {
  margin: 0;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.Header__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%;
  background-size: contain;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Header__title-img {
  position: absolute;
  max-width: 900px;
  width: 100%;
  max-height: 550px;
}

.Header__title-img img {
  width: 100%;
  height: auto;
}

.Header__title h1, .Header__title h5 {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

.Header__arrowDown {
  position: absolute;
  bottom: 5%;
  color: rgba(255, 255, 255, 0.767);
  text-align: center;
}

.Header__arrowDown a {
  color: rgba(255, 255, 255, 0.705);
}

.Header__arrowDown a .arrowDown {
  opacity: 0;
  font-size: 7rem;
  -webkit-animation: arrowDown 1s ease-in-out 3s infinite, opacity01 1s ease-in 4.5s forwards;
  animation: arrowDown 1s ease-in-out 3s infinite, opacity01 1s ease-in 4.5s forwards;
}

.Header__arrowDown a :hover {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  color: rgba(255, 255, 255, 0.356);
}

.Header__arrowDown p {
  opacity: 0;
  margin: 0;
  margin-top: -15px;
  -webkit-animation: opacity01 1s ease-in 4.5s forwards;
  animation: opacity01 1s ease-in 4.5s forwards;
  color: rgba(255, 255, 255, 0.493);
}

@media (max-width: 1078px) {
  .Header__title {
    width: 80%;
    height: 80%;
  }
}

@media (max-height: 607px) {
  .Header__title {
    width: 80%;
    height: 80%;
  }
}

@media (max-width: 860px) {
  .Header__title {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 675px) {
  .Header__title h1 {
    font-size: 4rem;
  }
  .Header__description {
    font-size: 0.8em;
  }
}

@media (max-width: 480px) {
  .Header__title {
    min-width: 320px;
    max-width: 350px;
    max-height: 70%;
  }
  .Header__title-img {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .Header__title-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
  }
  .Header__arrowDown {
    text-shadow: 0px 0px 13px black;
    mix-blend-mode: difference;
  }
  .Header__arrowDown p {
    color: rgba(255, 255, 255, 0.829);
    text-shadow: 0px 0px 13px 2px black;
    mix-blend-mode: difference;
  }
}

@media (max-width: 340px) {
  .Header__title {
    min-width: 320px;
    max-width: 350px;
    max-height: 70%;
  }
  .Header__title-img {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .Header__title-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
  }
  .Header__arrowDown {
    text-shadow: 0px 0px 13px black;
    mix-blend-mode: difference;
  }
  .Header__arrowDown p {
    color: rgba(255, 255, 255, 0.829);
    text-shadow: 0px 0px 13px 2px black;
    mix-blend-mode: difference;
  }
}

.Portfolio {
  position: relative;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  gap: 3rem;
  padding: 0 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 30px;
}

.Portfolio .grid-item {
  margin: 30px 0;
  position: relative;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Portfolio .grid-item:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.015);
  transform: scale(1.015);
}

.Portfolio .grid-item:hover .Portfolio__description {
  bottom: 0;
  height: 6rem;
}

.Portfolio .grid-item .Portfolio__description {
  position: absolute;
  top: 0;
  width: 100%;
  height: 0rem;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.678);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.Portfolio .grid-item .Portfolio__description h4 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 400;
}

.Portfolio .grid-item img {
  width: 100%;
  height: auto;
}

.Portfolio .grid-item__icons {
  position: absolute;
  right: 0.3rem;
  top: 0.5rem;
}

[data-icon="vaadin:css"] {
  color: #3d81db;
}

@media (max-width: 800px) {
  .Portfolio {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .Portfolio .grid-item {
    max-width: 580px;
    -ms-grid-column-align: center;
    justify-self: center;
  }
  .Portfolio .grid-item img {
    max-height: 350px;
  }
}

@media (max-width: 580px) {
  .Portfolio {
    gap: 0rem;
  }
  .Portfolio .grid-item {
    font-size: 1.2rem;
  }
  .Portfolio .grid-item:hover .Portfolio__description {
    bottom: 0;
    height: 4.5rem;
  }
  .Portfolio .grid-item img {
    width: 100%;
  }
  .Portfolio .grid-item .Portfolio__description h4 {
    font-size: 2rem;
  }
}

.Footer {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  background: #161414dc;
  border-top: 1px outset #d9d1cf;
  color: white;
  padding: 1rem 0;
}

.Footer__text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1.5rem;
  color: white;
  text-decoration: none;
}

.Footer__text p {
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: 1.7rem;
  font-weight: 500;
  margin: 0;
  margin-right: 0.5rem;
}

.Nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
  padding: 0 30px;
  z-index: 3;
  background-color: #000a0c;
  border-bottom: 1px outset #a1a1a1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.57) 0 2px 10px 0;
  box-shadow: rgba(0, 0, 0, 0.57) 0 2px 10px 0;
  overflow: hidden;
}

.Nav__logo {
  position: absolute;
  left: 15px;
  top: 30px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1.5rem;
  color: white;
  text-decoration: none;
}

.Nav__logo-name {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  margin-right: 0.5rem;
}

.Nav__logo-logo {
  font-size: 3.2rem;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: #ec6161;
}

.Nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
}

.Nav__items li {
  display: inline-block;
  position: relative;
}

.Nav__items li a {
  display: block;
  width: 10rem;
  padding: 20px 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

.Nav__items li a:hover {
  -webkit-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
  color: #ec6161;
}

.Nav__items li .active {
  color: #ec6161;
}

.Nav .burger {
  position: absolute;
  right: 25px;
  top: 15px;
  color: white;
  font-size: 3rem;
  display: none;
  cursor: pointer;
}

@media only screen and (min-width: 520px) {
  .Nav {
    height: 65px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 520px) {
  .Nav .burger {
    display: absolute;
    right: 30px;
    top: 17px;
    display: block;
  }
  .Nav__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 60px;
  }
  .Nav__items li a {
    display: block;
    width: 100%;
    padding: 15px 0;
    cursor: pointer;
  }
}

.Contactform-container {
  visibility: hidden;
  position: fixed;
  background: rgba(0, 0, 0, 0.623);
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.Contactform {
  position: fixed;
  -webkit-transform: translateY(-2000px);
  transform: translateY(-2000px);
  z-index: 1000 !important;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 100px 90px 1.5fr 0.5fr 0.5fr;
  grid-template-rows: 100px 90px 1.5fr 0.5fr 0.5fr;
  gap: 0 2rem;
  padding: 3rem;
  padding-bottom: 1rem;
  color: white;
  margin: 20px;
  background-color: #747d90;
  -webkit-box-shadow: #1a2227 0 0 4px 2px inset;
  box-shadow: #1a2227 0 0 4px 2px inset;
  border-radius: 0.4rem;
  max-width: 650px;
  height: 550px;
}

.Contactform__title {
  grid-column: 1 / -1;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-weight: 600;
  letter-spacing: 0.6rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px #ffffff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
}

.Contactform__close {
  position: absolute;
  display: block;
  right: 12px;
  top: 12px;
  z-index: 99999;
  height: 5rem;
  width: 5rem;
  border-radius: 100%;
  cursor: pointer;
  padding: 0.8rem;
  color: white;
}

.Contactform__close:hover {
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  background-color: rgba(255, 255, 255, 0.075);
}

.Contactform__left-field {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.Contactform__right-field {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.Contactform__text-area {
  grid-column: 1 / -1;
}

.Contactform__text-area textarea {
  resize: none;
}

.Contactform__submit {
  grid-column: 1/ -1;
}

.Contactform .field label {
  letter-spacing: 0.2rem;
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
}

.Contactform .field input[type="text"] {
  -webkit-box-sizing: initial;
  box-sizing: initial;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 0.5rem;
  color: white;
  width: 92%;
  background-color: transparent;
  border: 1px solid #fff;
  font-weight: 300;
  height: 2rem;
  border-radius: 0.4rem;
  outline: 0;
  padding: 1rem;
  text-decoration: none;
  margin-top: 1rem;
}

.Contactform .field input[type="text"]:focus {
  -webkit-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
  background-color: #5b6374;
  border: 1.5px solid #fff;
}

.Contactform .field textarea {
  width: 100%;
  background-color: transparent;
  border: 1px solid #fff;
  color: white;
  outline: 0;
  font-weight: 300;
  border-radius: 0.4rem;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.7rem;
  margin-top: 1rem;
}

.Contactform .field textarea:focus {
  -webkit-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
  background-color: #5b6374;
  border: 1.5px solid #fff;
}

.Contactform__submit input {
  letter-spacing: 0.2rem;
  font-family: "DM Sans";
  border-radius: 4px;
  border: none;
  font-weight: 700;
  padding: 1.3rem 2.5rem;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.Contactform__submit-submit {
  background-color: white;
  color: black;
}

.Contactform__submit-reset {
  -webkit-box-shadow: #fff 0 0 0 1px inset;
  box-shadow: #fff 0 0 0 1px inset;
  background-color: transparent;
  color: white;
}

.Contactform__submit-reset:hover {
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  background-color: rgba(255, 255, 255, 0.075);
}

.Contactform__icons {
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
  grid-column: 1/ -1;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.Contactform__icons-icons {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.856);
  cursor: pointer;
  padding: 1rem;
  color: white;
  margin-right: 1rem;
}

.Contactform__icons-icons:hover {
  -webkit-transition: ease-in-out padding 0.2s;
  transition: ease-in-out padding 0.2s;
  background-color: rgba(255, 255, 255, 0.075);
  padding: 0.8rem;
}

.Contactform__icons a {
  text-decoration: none;
}

@media only screen and (max-width: 520px) {
  .Contactform {
    max-height: 500px;
    width: 85%;
    margin: 0;
    font-size: 0.9em;
    padding: 1.5rem 1.5rem 0.5rem;
    -ms-grid-rows: 0.5fr 0.8fr 0.8fr 1fr 0.6fr 0.8fr;
    grid-template-rows: 0.5fr 0.8fr 0.8fr 1fr 0.6fr 0.8fr;
    overflow: auto;
  }
  .Contactform__title {
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start;
  }
  .Contactform__left-field {
    grid-column: 1/-1;
  }
  .Contactform__right-field {
    grid-column: 1/-1;
  }
  .Contactform__icons {
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .Contactform__submit {
    grid-column: 1/-1;
  }
  .Contactform__submit-reset {
    display: none;
  }
  .Contactform__submit-submit {
    width: 100%;
  }
  .Contactform .field label {
    font-size: 1.2rem;
  }
  .Contactform .field input[type="text"] {
    width: 96%;
    font-size: 1.2rem;
    line-height: 0.3rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
  }
}

/*# sourceMappingURL=style.css.map */