.Contactform-container {
   visibility: hidden;
   position: fixed;
   background: rgba(0, 0, 0, 0.623);
   z-index: 100;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   @include flexCenter();
}

.Contactform {
   position: fixed;
   transform: translateY(-2000px);
   z-index: 10000000 !important;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 100px 90px 1.5fr 0.5fr 0.5fr;
   gap: 0 2rem;
   padding: 3rem;
   padding-bottom: 1rem;
   color: white;
   margin: 20px;
   background-color: #747d90;
   box-shadow: rgb(26, 34, 39) 0 0 4px 2px inset;
   border-radius: 0.4rem;
   max-width: 650px;
   height: 550px;
   &__title {
      grid-column: 1 / -1;
      align-self: center;
      font-weight: 600;
      letter-spacing: 0.6rem;
      padding-bottom: 1rem;
      border-bottom: solid 1px #ffffff;
      width: fit-content;
      height: fit-content;
      margin: 0;
   }
   &__close {
      position: absolute;
      right: 12px;
      top: 12px;
      height: 5rem;
      width: 5rem;
      border-radius: 100%;
      cursor: pointer;
      padding: 0.8rem;
      color: white;

      &:hover {
         transition: background-color 0.2s;
         background-color: rgba(255, 255, 255, 0.075);
      }
   }
   &__left-field {
      grid-column: 1 / 2;
   }
   &__right-field {
      grid-column: 2 / 3;
   }
   &__text-area {
      grid-column: 1 / -1;
      textarea {
         resize: none;
      }
   }
   &__submit {
      grid-column: 1/ -1;
      // align-self: center;
   }

   .field {
      label {
         letter-spacing: 0.2rem;
         margin-bottom: 0.8rem;
         font-size: 1.4rem;
      }
      input[type="text"] {
         box-sizing: initial;
         appearance: none;
         line-height: 0.5rem;
         color: white;
         width: 92%;
         background-color: transparent;
         border: 1px solid #fff;
         font-weight: 300;
         height: 2rem;
         border-radius: 0.4rem;
         outline: 0;
         padding: 1rem;
         text-decoration: none;
         margin-top: 1rem;

         &:focus {
            transition: ease-in-out 0.1s;
            background-color: rgb(91, 99, 116);
            border: 1.5px solid #fff;
         }
      }

      textarea {
         width: 100%;
         background-color: transparent;
         border: 1px solid #fff;
         color: white;
         outline: 0;
         font-weight: 300;
         border-radius: 0.4rem;
         padding: 1rem;
         text-decoration: none;
         font-size: 1.7rem;
         margin-top: 1rem;
         &:focus {
            transition: ease-in-out 0.1s;
            background-color: rgb(91, 99, 116);
            border: 1.5px solid #fff;
         }
      }
   }
   &__submit {
      input {
         letter-spacing: 0.2rem;
         font-family: "DM Sans";
         border-radius: 4px;
         border: none;
         font-weight: 700;

         padding: 1.3rem 2.5rem;
         text-decoration: none;
         margin: 4px 2px;
         cursor: pointer;
      }
      &-submit {
         background-color: white;
         color: black;
      }

      &-reset {
         box-shadow: #fff 0 0 0 1px inset;
         background-color: transparent;
         color: white;
         &:hover {
            transition: background 0.2s;
            background-color: rgba(255, 255, 255, 0.075);
         }
      }
   }
   &__icons {
      align-self: end;
      grid-column: 1/ -1;
      align-self: center;
      &-icons {
         height: 4.5rem;
         width: 4.5rem;
         border-radius: 100%;
         border: 1px solid rgba(255, 255, 255, 0.856);
         cursor: pointer;
         padding: 1rem;
         color: white;
         margin-right: 1rem;

         &:hover {
            transition: ease-in-out padding 0.2s;
            background-color: rgba(255, 255, 255, 0.075);
            padding: 0.8rem;
         }
      }
      a {
         text-decoration: none;
      }
   }
}

@media only screen and (max-width: 520px) {
   .Contactform {
      max-height: 500px;
      width: 95%;
      margin: 0;
      font-size: 0.9em;
      padding: 1.5rem 1.5rem 0.5rem;
      grid-template-rows: 0.5fr 1fr 1fr 1fr 0.8fr 0.6fr;
      overflow: auto;
      &__title {
         align-self: start;
      }
      &__left-field {
         grid-column: 1/-1;
      }
      &__right-field {
         grid-column: 1/-1;
      }
      &__icons {
         justify-self: center;
         align-self: start;
      }
      &__submit {
         grid-column: 1/-1;
         &-reset {
            display: none;
         }
         &-submit {
            width: 100%;
         }
      }
      .field {
         label {
            font-size: 1.2rem;
         }
         input[type="text"] {
            font-size: 1.2rem;
            line-height: 0.3rem;
            padding: 0.5rem;
         }
      }
   }
}
