.Footer {
   margin-top: 30px;
   display: flex;
   justify-content: center;
   width: 100%;
   background: #161414dc;
   border-top: 1px outset #d9d1cf;
   color: white;
   padding: 1rem 0;
   &__text {
      text-align: center;
      display: flex;
      margin-left: 1.5rem;
      color: white;
      text-decoration: none;
      p {
         color: white;
         user-select: none;
         align-self: center;
         font-size: 1.7rem;
         font-weight: 500;
         margin: 0;
         margin-right: 0.5rem;
      }
   }
}
