* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: #dadada;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #444242;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.8rem;
  color: black;
  font-family: $baseFont;
  margin: 0;
  padding: 0 30px;
  .container {
    max-width: 1200px;
    margin: auto;

    height: auto;
  }
}

h1 {
  font-family: $titleFont;
  font-size: 5rem;
}

h5 {
  font-family: $codeFont;
  color: $codeFontColor;
  font-size: 2rem;
  margin: 2rem 0;
}
